node_modules
package-lock.json
.git
.gitignore
README.md
.env
*.env
*.env.development
*.env.test
*.env.production
*.env.local
*.env.development.local
*.env.test.local

# blueprint rules:
**/templates/**/